body{
    background-color: blueviolet;
    font-family: "Darker Grotesque";
}
.container{
    background-color: whitesmoke;
    width: 430px;
    position: abolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.teste{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    align-items: flex-start;
}

textarea{
    width: 400px;
    height: 200px;
}

.btm-media{
    margin: 10px;
    position: relative;
    width: 110px;
}

.texto{
    width: 300px;
    height: 300px;
    background-color: aqua;
}

.caixa-texto{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}